export ADDR=:8080

# KUBECONFIG=/path

export GITOPS_REPO_URL=https://github.com/JdVashuu/HPE_Recipe_Detection.git
export GITOPS_LOCAL_PATH=/tmp/recipe-catalogs/
export GITOPS_BRANCH=main
export GITOPS_USERNAME=JdVashuu
export GITOPS_TOKEN=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
export GITOPS_VALUES_DIR=helm/Catalogs
